:host ::ng-deep .p-divider-solid.p-divider-horizontal:before {
    border-top-style: solid;
}

:host ::ng-deep  .p-chip{
    margin: 3px !important;
}

:host ::ng-deep .p-chips-multiple-container{
    border:none !important;
}

.dialog-content {
    max-height: 700px; /* Adjust this value as needed */
    overflow-y: auto;
    padding: 1rem;
  }
  
  /* Add some padding to make the content look better */
  .dialog-content > div {
    padding: 0.5rem 0;
  }


  :host ::ng-deep .p-dialog-content{
 
   height: 500px;
}

:host ::ng-deep .p-dialog-footer {
    position: sticky;
    bottom: 0;
    background: white;
    padding: 1rem 0;
  }

  :host  ::ng-deep .p-panel-content {
     height: 250px;
     overflow: auto;
  }

 