<div class="grid grid-cols-1 gap-4">
  <div class="col">
    <h5 class="mb-4 font-semibold text-lg">My Invoices</h5>
  </div>
</div>
<app-quick-search
  [fields]="searchConfig.fields"
  [actionButtons]="searchConfig.buttons"
  (searchEvent)="search($event)"
  (clearEvent)="clear()"
  (exportEvent)="exportToExcel()"
  [searchKey]="'myinvoice-search'"    
/>

<div class="card user-card mt-6">
  <app-dynamic-grid
    (load)="onLazyLoad($event)"
    [config]="gridConfig"
    [tableStyle]="{ 'min-width': '60rem' }"
  ></app-dynamic-grid>
</div>

<ng-template #selectInvoiceTemplate let-row>
  <p-checkbox
    [binary]="true"
    [(ngModel)]="row.isSelected"
    (onChange)="onRowCheckboxChange($event.checked, row)"
  >
  </p-checkbox>
</ng-template>
