<div
  [formGroup]="formGroup"
  class="grid grid-cols-1 sm:w-1/3 lg:w-2/4 xl:w-2/5 gap-6 pt-4"
>
  <div class="flex items-center pt-2 gap-3">
    <span class="font-bold">Assign Users</span>
    <p-button
      type="button"
      icon="pi pi-plus"
      [rounded]="true"
      class="rounded-full p-button-outlined p-button-sm"
      pTooltip="Assign entities"
      (click)="assignUsers()"
    >
    </p-button>
  </div>

  <p-table
    [value]="selectedUsers"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%" class="text-center">Action</th>
        <th style="width: 50%">Full Name</th>
        <th style="width: 50%">User Id</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td style="width: 10%" class="text-center">
          <button
            type="button"
            class="p-button p-button-text p-button-danger"
            (click)="onRowDelete(rowData)"
          >
            <i class="pi pi-trash"></i>
          </button>
        </td>
        <td style="width: 50%">{{ rowData.fullName }}</td>
        <td style="width: 50%">{{ rowData.userID }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="3" class="p-0">
          <div
            class="w-full h-24 flex items-center justify-center font-semibold"
          >
            No records.
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
