<p-table 
    [value]="invoiceActivityLogs2"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,25,50]"
    [scrollable]="true"
    paginatorDropdownAppendTo="body"
    styleClass="p-datatable-gridlines">
 
    <!-- HEADER -->
<ng-template pTemplate="header">
<tr>
<th pSortableColumn="actionDate">
       Action Date
<p-sortIcon field="actionDate"></p-sortIcon>
</th>
<th pSortableColumn="activity">
              Action
<p-sortIcon field="activity"></p-sortIcon>
</th>
<th pSortableColumn="table">
        Table
<p-sortIcon field="table"></p-sortIcon>
</th>
<th pSortableColumn="column">
        Column
<p-sortIcon field="column"></p-sortIcon>
</th>
<th pSortableColumn="activityClass">
              Activity Class
<p-sortIcon field="activityClass"></p-sortIcon>
</th>        
<th pSortableColumn="preValue">
              Previous Value
<p-sortIcon field="preValue"></p-sortIcon>
</th>
<th pSortableColumn="newValue">
              New Value
<p-sortIcon field="newValue"></p-sortIcon>
</th>        
<th pSortableColumn="actionedBy">
              Actioned By
<p-sortIcon field="actionedBy"></p-sortIcon>
</th>
</tr>
</ng-template>
 
    <!-- BODY -->
<ng-template pTemplate="body" let-row>
<tr>
<td>{{row.actionDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
<td>{{row.action}}</td>
<td>{{row.table}}</td>
<td>{{row.column}}</td>
<td>{{row.activityClass}}</td>
<td>{{row.prevValue}}</td>
<td>{{row.newValue}}</td>
<td>{{row.ActionedBy}}</td>
</tr>
</ng-template>
 
</p-table>

<!--
  groupRowsBy="actionName"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header>
    <tr>
      <th style="width: 20%">Previous Status</th>
      <th style="width: 20%">Current Status</th>
      <th style="width: 20%">Reason</th>
      <th style="width: 20%">Created By</th>
      <th style="width: 20%">Created Date</th>
    </tr>
  </ng-template>
  <ng-template
    #groupheader
    let-invActivityLogEntries
    let-rowIndex="rowIndex"
    let-expanded="expanded"
  >
    <tr>
      <td colspan="5">
        <button
          type="button"
          pButton
            pple
          [pRowToggler]="invActivityLogEntries"
          text
          rounded
          plain
          class="mr-2"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
        ></button>

        <span class="font-bold ml-2">{{
          invActivityLogEntries.actionName
        }}</span>
      </td>
    </tr>
  </ng-template>

  <ng-template #expandedrow let-invoiceActivityLogs>
    <tr
      *ngFor="
        let activitylog of invoiceActivityLogs.invActivityLogEntries;
        let i = index;
        trackBy: trackByValue
      "
    >
      <td>
        <span>{{ activitylog.previousStatus }}</span>
      </td>
      <td>
        {{ activitylog.currentStatus }}
      </td>
      <td>
        {{ activitylog.reason }}
      </td>
      <td>
        {{ activitylog.createdBy }}
      </td>
      <td>
        {{ activitylog.createdDate }}
      </td>
    </tr>
  </ng-template>
</p-table> -->
