<p-table 
    [value]="invoiceActivityLogs2"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,25,50]"
    responsiveLayout="scroll"
    styleClass="p-datatable-gridlines">

    <!-- HEADER -->
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="actionDate">
              Action Date
              <p-sortIcon field="actionDate"></p-sortIcon>
            </th>
            <th pSortableColumn="activity">
              Action
              <p-sortIcon field="activity"></p-sortIcon>
            </th>
            <th pSortableColumn="module">
              Activity Class
              <p-sortIcon field="module"></p-sortIcon>
            </th>
            <th pSortableColumn="oldValue">
              Previous Value
              <p-sortIcon field="oldValue"></p-sortIcon>
            </th>
            <th pSortableColumn="newValue">
              New Value
              <p-sortIcon field="newValue"></p-sortIcon>
            </th>
            <th>
              Reason
            </th>
            <th pSortableColumn="actionBy">
              Actioned By
              <p-sortIcon field="actionBy"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template pTemplate="body" let-row>
        <tr>
            <td>{{row.actionDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{row.activity}}</td>
            <td>{{row.module}}</td>
            <td>{{row.oldValue}}</td>
            <td>{{row.newValue}}</td>
            <td>TBD</td>
            <td>{{row.actionBy}}</td>
        </tr>
    </ng-template>

</p-table>

<!-- <p-table [value]="invoiceActivityLogs" sortField="actionName" sortMode="single" dataKey="actionName"
  rowGroupMode="subheader" groupRowsBy="actionName" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th style="width: 20%">Previous Status</th>
      <th style="width: 20%">Current Status</th>
      <th style="width: 20%">Reason</th>
      <th style="width: 20%">Created By</th>
      <th style="width: 20%">Created Date</th>
    </tr>
  </ng-template>
  <ng-template #groupheader let-invActivityLogEntries let-rowIndex="rowIndex" let-expanded="expanded">
    <tr>
      <td colspan="5">
        <button type="button" pButton pRipple [pRowToggler]="invActivityLogEntries" text rounded plain class="mr-2"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>

        <span class="font-bold ml-2">{{
          invActivityLogEntries.actionName
          }}</span>
      </td>
    </tr>
  </ng-template>

  <ng-template #expandedrow let-invoiceActivityLogs>
    <tr *ngFor="
        let activitylog of invoiceActivityLogs.invActivityLogEntries;
        let i = index;
        trackBy: trackByValue
      ">
      <td>
        <span>{{ activitylog.previousStatus }}</span>
      </td>
      <td>
        {{ activitylog.currentStatus }}
      </td>
      <td>
        {{ activitylog.reason }}
      </td>
      <td>
        {{ activitylog.createdBy }}
      </td>
      <td>
        {{ activitylog.createdDate }}
      </td>
    </tr>
  </ng-template>
</p-table> -->