
<div class="flex justify-center">
    <img   src="assets/images/cbsap-grey.png"  alt="Image" class="cbsap-login-logo mb-3"  />
  </div>
  <form *ngIf="isTokenValidated" [formGroup]="confirmUserForm" class="mt-6" (ngSubmit)="onSubmit()"  class="mt-6">
   <div class="w-full flex items-center justify-center p-10 bg-white">
    <div class="max-w-md w-full ">
        <h2 class="text-3xl font-semibold text-gray-700 text-center"> Set Your New Password</h2>
        <p class="text-gray-500 text-base mt-2"> .</p>

            <div class="mb-2 w-full">
                <label class="block text-gray-600">Tempory Password</label>
                <p-password formControlName="tempPassword" [feedback]="false"  minlength="8" maxlength="20" 
                styleClass="w-full  mt-2  rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-900" />

                <div *ngIf="f['tempPassword'].invalid && f['tempPassword'].touched"  class="pt-2 text-xs text-red-500">
                    {{ getErrorMessage(f['tempPassword'], 'Temporary Password') }}
                </div>
             </div>
            <div class="mb-2 w-full">
                <label class="block text-gray-600">New password</label>
                <p-password formControlName="newPassword" [feedback]="false"  minlength="8" maxlength="20" 
                styleClass="w-full  mt-2  rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-900" />

                <div *ngIf="f['newPassword'].invalid && f['newPassword'].touched"  class="pt-2 text-xs text-red-500">
                    {{ getErrorMessage(f['newPassword'], 'New password') }}
                </div>
             </div>
            <div class="mb-2">
                <label class="block text-gray-600">Confirm password</label>
                <p-password formControlName="confirmPassword" [feedback]="false" minlength="8" maxlength="20" 
                styleClass="w-full  mt-2  rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-900" />
                <div *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].touched"  class="pt-2 text-xs text-red-500">
                    {{ getErrorMessage(f['confirmPassword'], 'Confirm password') }}
                </div>
          
            </div>
            <div class="mt-1" *ngIf ="isShowMessage">
                <p-message icon="pi pi-exclamation-triangle" [severity]="havingError ? 'error' : 'success'"> {{ message }}</p-message>

            </div>
            <button  class="w-full bg-blue-600 rounded-lg text-white mt-6 py-3 rounded-lg hover:bg-blue-700 transition" [disabled]="isSubmitting">
               Reset password
            </button>
        </div>
    </div>
</form>