:host ::ng-deep .p-menubar {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: #fff;
}

.layout-topbar-logo-container {
  width: 20rem;
  display: flex;
  align-items: center;
}

.layout-topbar-logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: var(--content-border-radius);
  color: var(--text-color);
  font-weight: 500;
  gap: 0.5rem;
  padding: 0.5rem;
}
