<form [formGroup]="invInfoForm">
  <div class="mb-4" *ngIf="messages.length > 0">      
      <app-invoice-validation-message [messages]="messages" [invoiceValidationHeader]="invoiceValidationHeader">
      </app-invoice-validation-message>
    </div>
  <p-panel [toggleable]="true" styleClass="mb-4 panel-items">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <!-- <i class="pi pi-ellipsis-v"></i> -->
        <span class="font-bold">Supplier Information</span>
      </div>
    </ng-template>

    <div class="p-4">
      <div>        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6  mb-1">
          <div class="grid grid-cols-12 items-center gap-2">
            <input type="hidden" formControlName="supplierInfoID" />
            <label for="suppName" class="col-span-12 md:col-span-4 font-medium">Supplier Name</label>
            <div class="col-span-12 md:col-span-8">
              <p-inputgroup>
                <input id="suppName" type="text" pInputText formControlName="suppName" size="small" class="w-full" />
                <p-inputgroup-addon>
                  <p-button variant="text" severity="secondary" icon="pi pi-search" size="small"
                    (click)="assignSupplier()" />
                </p-inputgroup-addon>
              </p-inputgroup>
              <div class="mt-1 flex justify-between items-center text-xs text-gray-500">
                <small *ngIf="f['suppName'].invalid && f['suppName'].touched" class="text-red-500">
                  {{ getErrorMessage(f['suppName'], 'Supplier Name ') }}
                </small>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-12 items-center gap-2">
            <label for="paymentTerm" class="col-span-12 md:col-span-4 font-medium">Payment Term</label>
            <div class="col-span-12 md:col-span-8">
              <p-select formControlName="paymentTerm" [options]="invInfoDropdown['paymentTerms']" 
                class="w-full">
              </p-select>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-2">
          <div class="grid grid-cols-12 items-center gap-2 ">
            <label for="suppABN" class="col-span-12 md:col-span-4 font-medium">Supplier Tax ID</label>
            <div class="col-span-12 md:col-span-8">
              <input id="suppABN" type="text" readonly pInputText formControlName="suppABN" 
                class="w-full" />
            </div>
          </div>
          <div class="grid grid-cols-12 items-center gap-2">
            <label for="suppBankAccount" class="col-span-12 md:col-span-4 font-medium">Supplier Bank Account</label>
            <div class="col-span-12 md:col-span-8">
              <input id="suppBankAccount" type="text" pInputText formControlName="suppBankAccount" 
                class="w-full" />
            </div>
          </div>
        </div>  
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="grid grid-cols-12 items-center gap-2 ">
            <label for="supplierNo" class="col-span-12 md:col-span-4 font-medium">Supplier Number</label>
            <div class="col-span-12 md:col-span-8">
              <input id="supplierNo" type="text" readonly pInputText formControlName="supplierNo"   
                class="w-full" />
            </div>
          </div>          
        </div>       
      </div>
    </div>

    
  </p-panel>
  <p-panel [toggleable]="true" styleClass="mb-4 panel-items">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">Invoice Details</span>
      </div>
    </ng-template>
    <div class="p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-2">
        <div class="grid grid-cols-12 items-center gap-2">
          <label for="entity" class="col-span-12 md:col-span-4 font-medium">Entity</label>
          <div class="col-span-12 md:col-span-8">
            <p-select class="w-full" formControlName="entityProfileID"  [options]="entityOptions"
              [filter]="true" filterBy="label" [showClear]="false"> </p-select>
          </div>
        </div>
        <div class="grid grid-cols-12 items-center gap-2">
          <label for="poNo" class="col-span-12 md:col-span-4 font-medium">Purchase Order No</label>
          <div class="col-span-12 md:col-span-8">
            <p-inputgroup>
              <input id="poNo" type="text" pInputText formControlName="poNo" class="w-full" />
              <p-inputgroup-addon>
                <p-button variant="text" severity="secondary" icon="pi pi-search" size="small"
                  (click)="assignPurchaseOrder()"></p-button>
              </p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6  mb-2">
        <div class="grid grid-cols-12 items-center gap-2">
          <label for="invoiceNo" class="col-span-12 md:col-span-4 font-medium">Invoice No</label>
          <div class="col-span-12 md:col-span-8">
            <input id="invoiceNo" type="text" pInputText formControlName="invoiceNo"  class="w-full" />
            <div class="mt-1 flex justify-between items-center text-xs text-gray-500" *ngIf="f['invoiceNo'].invalid && f['invoiceNo'].touched">
              <small class="text-red-500">
                {{ getErrorMessage(f['invoiceNo'], 'Invoice No ') }}
              </small>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-12 items-center gap-2">
          <label for="grNo" class="col-span-12 md:col-span-4 font-medium">Good Receipt No</label>
          <div class="col-span-12 md:col-span-8">
            <input id="grNo" type="text" pInputText formControlName="grNo"  class="w-full" />
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-2">
         <div class="grid grid-cols-12 items-center gap-2">
              <label for="invoiceDate" class="col-span-12 md:col-span-4 font-medium">Invoice Date
              </label>
              <div class="col-span-12 md:col-span-8 w-full">
                <p-datepicker formControlName="invoiceDate" [showIcon]="true" dateFormat="dd/mm/yy"
                  styleClass="w-full" inputStyleClass="w-full" />
                <div class="mt-1 flex justify-between items-center text-xs text-gray-500" *ngIf="f['invoiceDate'].invalid && f['invoiceDate'].touched">
                  <small  class="text-red-500">
                    {{ getErrorMessage(f['invoiceDate'], 'Invoice Date ') }}
                  </small>
                </div>
              </div>
            </div>        
        <div class="grid grid-cols-12 items-center gap-2">
          <label for="email" class="col-span-12 md:col-span-4 font-medium">Due Date</label>
          <div class="col-span-12 md:col-span-8">
            <p-datepicker formControlName="dueDate"  [showIcon]="true" dateFormat="dd/mm/yy"
              styleClass="w-full" inputStyleClass="w-full" />
          </div>          
        </div>
        
         <!-- <div class="grid grid-cols-12 items-center gap-2">
            <label for="note" class="col-span-12 md:col-span-4 font-medium">Note</label>
            <div class="col-span-12 md:col-span-8">
              <input id="note" type="text" pInputText formControlName="note" size="small" class="w-full" />
            </div>
          </div> -->
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-1">
        <div class="grid grid-cols-12 items-center gap-2">
          <label for="grNo" class="col-span-12 md:col-span-4 font-medium">Days till Due</label>
          <div class="col-span-12 md:col-span-8">
            <input type="text" disabled pInputText  class="w-full" [value]="daysTillDue" />
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <p-panel [toggleable]="true" styleClass="mb-4 panel-items">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">Invoice Amounts</span>
      </div>
    </ng-template>
    <div class="p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-1">
        <div class="grid grid-cols-12 items-center gap-2">
          <label for="netAmount" class="col-span-12 md:col-span-4 font-medium">Net Amount</label>
          <div class="col-span-12 md:col-span-8 ">
            <p-inputnumber formControlName="netAmount" inputId="netAmount" mode="decimal" [minFractionDigits]="2"
               class="w-full" (onInput)="onAmountsChange()" inputStyleClass="w-full text-right" />
            <div class="mt-1 flex justify-between items-center text-xs text-gray-500">
              <small *ngIf="f['netAmount'].invalid && f['netAmount'].touched" class="text-red-500">
                {{ getErrorMessage(f['netAmount'], 'Net Amount ') }}
              </small>

            </div>
          </div>
        </div>
        <div class="grid grid-cols-12 items-center gap-2 mb-1">
          <label for="taxCode" class="col-span-12 md:col-span-4 font-medium">Tax Code</label>
          <div class="col-span-12 md:col-span-8">
            <p-select class="w-full" formControlName="taxCodeID" [options]="taxCodeOptions" [filter]="true"
              filterBy="label" [showClear]="false"> </p-select>
            <div class="mt-1 flex justify-between items-center text-xs text-gray-500">
              <small *ngIf="f['taxCodeID'].invalid && f['taxCodeID'].touched" class="text-red-500">
                {{ getErrorMessage(f['taxCodeID'], 'Tax Code ') }}
              </small>

            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-1"> 
          <div class="grid grid-cols-12 items-center gap-2">
            <label for="taxAmount" class="col-span-12 md:col-span-4 font-medium">Tax Amount</label>
            <div class="col-span-12 md:col-span-8">
              <p-inputnumber formControlName="taxAmount" inputId="taxAmount" mode="decimal" [minFractionDigits]="2"
                class="w-full" (onInput)="onAmountsChange()" inputStyleClass="w-full text-right" />
              <div class="mt-1 flex justify-between items-center text-xs text-gray-500">
                <small *ngIf="f['taxAmount'].invalid && f['taxAmount'].touched" class="text-red-500">
                  {{ getErrorMessage(f['taxAmount'], 'Tax Amount') }}
                </small>

              </div>
            </div>
          </div>
           <div class="grid grid-cols-12 items-center gap-2">
            <label for="currency" class="col-span-12 md:col-span-4 font-medium">Currency</label>
            <div class="col-span-12 md:col-span-8">
              <p-select formControlName="currency" [options]="invInfoDropdown['currencies']"
                class="w-full">
              </p-select>
              <div class="mt-1 flex justify-between items-center text-xs text-gray-500">
                <small *ngIf="f['currency'].invalid && f['currency'].touched" class="text-red-500">
                  {{ getErrorMessage(f['currency'], 'Currency ') }}
                </small>

              </div>

            </div>
          </div>          
          
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="grid grid-cols-12 items-center gap-2">
            <label for="totalAmount" class="col-span-12 md:col-span-4 font-medium">Total Amount</label>
            <div class="col-span-12 md:col-span-8">
              <p-inputnumber formControlName="totalAmount" inputId="totalAmount" mode="decimal" [minFractionDigits]="2"
                class="w-full" (onInput)="onAmountsChange()" inputStyleClass="w-full text-right" />
              <div class="mt-1 flex justify-between items-center text-xs text-gray-500">
                <small *ngIf="f['totalAmount'].invalid && f['totalAmount'].touched" class="text-red-500">
                  {{ getErrorMessage(f['totalAmount'], 'Total Amount ') }}
                </small>

              </div>
            </div>
          
          </div>
      </div>
    </div>
  </p-panel>

  <p-panel [toggleable]="true" styleClass="mb-4 panel-items">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">Workflow Routing</span>
      </div>
    </ng-template>
    <div class="p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-2">         
          <div class="grid grid-cols-12 items-center gap-2">
          <label class="col-span-12 md:col-span-4 font-medium">Routing Flow Name</label>
          <div class="col-span-12 md:col-span-8">
            <input type="text" disabled  pInputText  class="w-full" [value]="routingFlowName" />
          </div>
        </div>
          <div class="grid grid-cols-12 items-center gap-2">
          <label class="col-span-12 md:col-span-4 font-medium">Next Role</label>
          <div class="col-span-12 md:col-span-8">
            <input type="text" disabled pInputText  class="w-full" />
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
         <div class="grid grid-cols-12 items-center gap-2">
            <label for="note" class="col-span-12 md:col-span-4 font-medium">Keyword</label>
            <div class="col-span-12 md:col-span-8">
              <p-inputgroup>
                <input id="keyword" type="text" pInputText formControlName="keyword" class="w-full" />
                <p-inputgroup-addon>
                  <p-button variant="text" severity="secondary" icon="pi pi-search" size="small"
                    (click)="assignKeyword()"></p-button>
                </p-inputgroup-addon>
              </p-inputgroup>
            </div>
          </div>
      </div>
    </div>
  </p-panel>

    <p-panel [toggleable]="true" styleClass="mb-4 panel-items">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">Transaction Information</span>
      </div>
    </ng-template>
    <div class="p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-2">
          <div class="grid grid-cols-12 items-center gap-2">
            <label for="mapID" class="col-span-12 md:col-span-4 font-medium">MAP ID</label>
            <div class="col-span-12 md:col-span-8">
              <input id="mapID" type="text" pInputText formControlName="mapID" class="w-full" />
            </div>
          </div>
          <div class="grid grid-cols-12 items-center gap-2">
            <label for="scanDate" class="col-span-12 md:col-span-4 font-medium">Scan Date</label>
            <div class="col-span-12 md:col-span-8">
              <p-datepicker formControlName="scanDate" [showIcon]="false" dateFormat="dd/mm/yy"
                styleClass="w-full" inputStyleClass="w-full" />
            </div>
          </div>
      </div>
       <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-1">
          <div class="grid grid-cols-12 items-center gap-2">
            <label for="invoiceID" class="col-span-12 md:col-span-4 font-medium">Invoice ID</label>
            <div class="col-span-12 md:col-span-8">
              <input id="invoiceID" type="text" pInputText formControlName="invoiceID" class="w-full" />
            </div>
          </div>
         
      </div>       
    </div>
  </p-panel>

  <p-panel header="Free Fields" [toggleable]="true" styleClass="mb-2 panel-items" *ngIf="false">
    <div class="mt-2 mb-2 flex flex-col gap-4">
      <div class="flex items-center pt-2 gap-3">
        <span class="font-bold"> Add Free Fields</span>
        <button type="button" pButton class="rounded-full p-button-outlined p-button-sm" pTooltip="Add Free Fields"
          (click)="onAddFreeField()" [disabled]="formFreeFields.length >= 3">
          <i class="pi pi-plus"></i>
        </button>

      </div>
      <!-- Render each free field in a horizontal row -->
      <div formArrayName="freeFields">
        <div *ngFor="let field of formFreeFields.controls; let i = index" class="flex items-center gap-4"
          [formGroupName]="i">
          <label [for]="'freeField' + i" class="font-medium w-32">
            Free Field {{ i + 1 }}
          </label>
          <div class="flex items-center w-96 mb-4">
            <p-inputgroup class="!h-9">
              <input [id]="'freeField' + i" type="text" pInputText size="small" class="w-96 "
                formControlName="fieldValue" />
              <p-inputgroup-addon>
                <button type="button" class="rounded-full p-button-outlined p-button-sm" (click)="onRemoveFreeField(i)"
                  title="Delete Free Field">
                  <i class="pi pi-trash"></i>
                </button>
              </p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </div>

      </div>
    </div>
  </p-panel>
  <p-panel header="Spare Amount" [toggleable]="true" styleClass="mb-2 panel-items" *ngIf="false">
    <div class="mt-2  mb-2 flex flex-col gap-4">
      <div class="flex items-center pt-2 gap-3">
        <span class="font-bold"> Add Spare Amount</span>
        <button type="button" pButton class="rounded-full p-button-outlined p-button-sm"
          (click)="onAddSpareAmountField()" [disabled]="formSpareAmountFields.length >= 3">
          <i class="pi pi-plus"></i>
        </button>
      </div>
      <!-- Render each free field in a horizontal row -->
      <div formArrayName="spareAmount">
        <div *ngFor="let field of formSpareAmountFields.controls; let i = index" class="flex items-center gap-4"
          [formGroupName]="i">
          <label [for]="'spareAmount' + i" class="font-medium w-32">
            Spare Amount {{ i + 1 }}
          </label>
          <div class="flex items-center w-96 mb-4">
            <p-inputgroup class="!h-9">
              <p-inputnumber formControlName="fieldValue" [inputId]="'spareAmount' + i" mode="decimal"
                [minFractionDigits]="2" size="small" class="w-80 " inputStyleClass="w-80 text-right" />

              <p-inputgroup-addon>
                <button type="button" class="rounded-full p-button-outlined p-button-sm"
                  (click)="onRemoveSpareAmountField(i)" title="Delete Spare Amount Field">
                  <i class="pi pi-trash"></i>
                </button>
              </p-inputgroup-addon>
            </p-inputgroup>
          </div>
        </div>

      </div>
    </div>
  </p-panel>
</form>