<div>
  <!-- Open coding -->
  <div class="flex items-center pt-3 gap-3 mt-3">
    <span class="font-bold">Coding Permissions</span>
    <p-button
      type="button"
      icon="pi pi-plus"
      [rounded]="true"
      class="rounded-full p-button-outlined p-button-sm"
      pTooltip="Assign Coding Permsissions"
      (click)="openCodingPermission()">
    </p-button>
  </div>

  <!-- Filter Section -->
  <div class="minimal-table-container mt-3">

    <!-- Table Header Row -->
    <div class="table-header">
      <div class="col-entity">Entity</div>
      <div class="col-category">Category</div>
      <div class="col-assigned">Assigned</div>
    </div>

    <!-- Table Row -->
    <div class="table-row">
      <div class="col-entity">
        @if (entityList.length === 1) {
          <input 
            type="text" 
            value="{{this.entityList[0].entityName}}" 
            class="border rounded p-2" 
            readonly />
        }
        @else {
          <p-select 
            [options]="entityList"
            [(ngModel)]="selectedEntity"
            [showClear]="true"
            optionLabel="entityName" 
            optionValue="entityProfileID"
            placeholder="Select an entity"
            appendTo="body"
            (onClear)="onChangeEntity($event)"
            (onChange)="onChangeEntity($event)" />
        }
      </div>

      <div class="col-category">
        @if (categoryList.length === 1) {
          <input 
            type="text" 
            value="{{this.categoryList[0].categoryName}}" 
            class="border rounded p-2" 
            readonly />
        }
        @else {
          <p-select 
            [options]="categoryList" 
            [(ngModel)]="selectedCategory"
            [showClear]="true"
            optionLabel="categoryName" 
            optionValue="categoryID"
            placeholder="Select a category"
            appendTo="body"
            (onClear)="onChangeCategory($event)"
            (onChange)="onChangeCategory($event)" />
        }
      </div>

      <div class="col-assigned">
        @if (assignedList.length > 0) {
          <div class="assigned-grid">
            @for (item of assignedList; track item.id) {
              <div class="col-12 md:col-6 lg:col-4">
                <div class="flex align-items-center p-3 surface-card border-round shadow-1">
                  <div>
                    <div class="text-900">{{ item.nameCode }}</div>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>

  <div class="paginator-wrapper">
    <div class="flex items-center flex-row-reverse">
      <p-paginator
        [rows]="codingPermissionSearch.PageSize"
        [rowsPerPageOptions]="pageSizeOptions"
        [totalRecords]="totalRecords"
        [first]="(codingPermissionSearch.PageNumber - 1) * codingPermissionSearch.PageSize"
        (onPageChange)="onAssignedPageChange($event)"
        [showFirstLastIcon]="true"
        appendTo="body">
      </p-paginator>
      <span class="p-paginator-current">Showing {{ assignedStart }} to {{ assignedEnd }} of {{ totalRecords }} entries</span>
    </div>
  </div>
</div>
