<!-- <div class="bg-gray-200 p-2 shadow-md sticky  z-40"  style="top: 64px;">
  <ul class="flex space-x-4">
    <li><a href="#" class="hover:underline">Cancel</a></li>
    <li><a href="#" class="hover:underline">Save</a></li>
    <li><a href="#" class="hover:underline">Validate</a></li>
    <li><a href="#" class="hover:underline">Add Comment</a></li>
    <li><a href="#" class="hover:underline">More...</a></li>
  </ul>
</div> -->

<div class="sticky z-40 rounded-none toolbar">
  <p-menubar [model]="items" class="border-none shadow-none" ></p-menubar>
</div>
