.card.exceptions {
    background: rgb(228,97,97);
    //background: linear-gradient(90deg, rgba(228,97,97,1) 34%, rgba(245,196,184,1) 100%, rgba(255,115,0,1) 100%);
    box-shadow: 0 12px 36px rgba(14, 25, 98, 0.4294117647), 0 12px 92px 32px rgba(90, 101, 199, 0);
    color:#fff;
}

.card.rejected {
    background: rgb(103,101,101);
    box-shadow: 0 12px 36px rgba(14, 25, 98, 0.4294117647), 0 12px 92px 32px rgba(90, 101, 199, 0);
    //background: linear-gradient(90deg, rgba(103,101,101,1) 43%, rgba(161,159,158,1) 74%, rgba(214,211,210,1) 100%);
    color:#fff;
}

.card.archived {
    background: rgb(201 150 0);
    box-shadow: 0 12px 36px rgba(14, 25, 98, 0.4294117647), 0 12px 92px 32px rgba(90, 101, 199, 0);
    // background: linear-gradient(90deg, rgba(217,165,13,1) 43%, rgba(221,192,108,1) 74%, rgba(224,212,177,1) 100%);
    color:#fff;
}

.card.approver {
    background: rgb(30 157 152);
    box-shadow: 0 12px 36px rgba(14, 25, 98, 0.4294117647), 0 12px 92px 32px rgba(90, 101, 199, 0);
    // background: linear-gradient(90deg, rgba(13,217,210,1) 43%, rgba(103,233,229,1) 74%, rgba(156,232,230,1) 100%);
    color: #fff;
}
.card {
    border:0;    
}
.card i {
    font-size: xx-large;    
}

.card h4 {
    color:#fff;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #757575;
    padding: 2px;
}

.announcement i {
    font-size: small;
}