   <!-- Right Column - Forgot Password Form -->
   <div class="flex justify-center">
    <img
      src="assets/images/cbsap-grey.png"
      alt="Image"
      class="cbsap-login-logo mb-3"
    />
  </div>
  <form [formGroup]="forgotPassForm" class="mt-6" (ngSubmit)="onSubmit()" >
   <div class="w-full flex items-center justify-center p-10 bg-white">
    <div class="max-w-md w-full ">
        <h2 class="text-3xl font-semibold text-gray-700 text-center">Forgot passsword?</h2>
        <p class="text-gray-500 text-base mt-2">Enter your email address to receive a password reset link.</p>

            <div>
                <label class="block text-gray-600">Email Address</label>
                <input type="email" id="emailAddress" pInputText  formControlName="emailAddress" maxlength="50"  class="w-full px-4 py-3 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-900 mb-2" placeholder="Enter your email" />
                <div class="flex justify-between">
                    <div class="flex-1">
                          <small *ngIf="f['emailAddress'].invalid && f['emailAddress'].touched"  class="pt-2 text-xs text-red-500">
                            {{ getErrorMessage(f['emailAddress'], 'Email Address') }}
                         </small>
                        </div>
                 </div>
            </div>
            <div class="mt-1" *ngIf ="isShowMessage">
                <p-message icon="pi pi-exclamation-triangle" [life]="5000" [severity]="havingError ? 'error' : 'success'"> {{ message }}</p-message>

            </div>

            <button  [ngClass]="{
                'w-full rounded-lg text-white mt-6 py-3 transition': true,
                'bg-blue-600 hover:bg-blue-700': !forgotPassForm.invalid && !isSubmitting,
                'bg-gray-400 cursor-not-allowed': forgotPassForm.invalid || isSubmitting
              }"
            (click)="sendPasswordEmailReset()">
                Reset Password
            </button>
            
            <p class="mt-4 text-gray-500 text-base text-center">
                Remembered your password? <a routerLink="/auth/login" class="text-blue-600 hover:underline">Login</a>
            </p>
        </div>
    </div>
</form>