<div *ngIf="loading" class="flex items-center justify-center h-full">
  <p-progress-spinner
    ariaLabel="Loading"
    [style.width.px]="50"
    [style.height.px]="50"
  ></p-progress-spinner>
</div>

<div
  *ngIf="!loading"
  [ngClass]="{
    'w-full h-full flex flex-col justify-center items-center image-fill':
      pdfUrl,
    'inline-flex flex-col items-center image-fill': !pdfUrl
  }"
>
  <ng-container *ngIf="pdfUrl; else noImage">
    <iframe
      [src]="pdfUrl"
      class="w-full flex-1 border"
      frameborder="0"
    ></iframe>
  </ng-container>
  <ng-template #noImage>
    <div class="flex flex-col items-center">
      <p-image
        src="assets/images/image-not-found.png"
        alt="Invoice Not Found"
        preview="false"
      ></p-image>
      <p class="text-gray-600 text-center">Invoice could not be loaded.</p>
    </div>
  </ng-template>
</div>
