   <!-- Right Column - Forgot Password Form -->
   <div class="flex justify-center">
    <img
      src="assets/images/cbsap-grey.png"
      alt="Image"
      class="cbsap-login-logo mb-3"
    />
  </div>
   <div class="w-full flex items-center justify-center p-10 bg-white">
    <div class="max-w-md w-full ">
        <h2 class="text-3xl font-semibold text-gray-700 text-center"> <i class="pi pi-check text-green-500 text-lg" style="font-size: 2rem"></i> Password reset</h2>
        <p class="text-gray-500 text-base mt-2">  Your password has been successfully reset. Click below to login</p>
        <button  class="w-full bg-green-600 rounded-lg text-white mt-6 py-3 rounded-lg hover:bg-blue-700 transition" (click)="goToLoginPage()">
              Continue
        </button>

    </div>
</div>